@import url('https://fonts.googleapis.com/css2?family=Capriola&family=M+PLUS+Rounded+1c&display=swap');

/*

  font-family: "M PLUS Rounded 1c", serif;
  font-family: "Capriola", serif;

*/

:root {
  --bg: hsl(232deg, 23%, 18%);
  --fg: hsl(226deg, 64%, 88%);
  --fg2: hsla(226deg, 64%, 88%, 0.9);
  --fg3: hsla(226deg, 64%, 88%, 0.0);
  --color1: hsl(237deg, 16%, 23%);
}

:root.light {
  --bg: hsl(220deg, 23%, 95%);
  --fg: hsl(234deg, 16%, 35%);
  --fg2: hsla(234deg, 16%, 35%, 0.5);
  --fg3: hsla(234deg, 16%, 35%, 0.0);
  --color1: hsl(225deg, 14%, 77%);
}

* {
  user-select: none;
  font-family: "Capriola", monospace;
}

.rights {
  color: var(--fg);
  font-size: medium;
  font-weight: 800;
}

.date {
  display: block;
  font-size: medium;
  color: gray;
}

.selected-text {
  font-weight: 900;
  font-family: "Capriola", serif;
}

.header {
  display: flex;
  position: fixed;
  top: 10px;
  height: 50px;
  z-index: 10000;
  width: auto;
  justify-content: right;
  align-items: center;
  align-content: center;
  background-color: var(--fg);
  backdrop-filter: blur(5px);
  color: var(--bg);
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "M PLUS Rounded 1c", monospace;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  gap: 20px;
}

.header i {
  color: var(--bg);
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  backdrop-filter: blur(10px);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  color: var(--fg);
  border-radius: 20px;
  padding: 20px;
  width: 80%;
}

#inputData {
  color: var(--bg);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-optical-sizing: auto;
  font-size: xx-large;
  color: var(--fg);
}

h3 {
  padding: 0%;
  margin: 5px;
  font-size: medium;
  line-height: 2;
}

svg path {
  stroke: var(--fg);
  background-color: var(--fg);
}

svg circle {
  stroke: var(--fg);
  background-color: var(--fg);
}

* {
  outline: none;
}

.svg_image {
  width: 350px;
  margin: 30px;
}

.svg_image path {
  stroke: var(--fg);
  background-color: var(--fg);
}

.svg_image circle {
  stroke: var(--fg);
  background-color: var(--fg);
}

html {
  background: var(--bg);
  background-origin: padding-box;
  background-repeat: repeat;
  background-attachment: scroll;
  scrollbar-color: var(--fg) transparent;
  scrollbar-arrow-color: transparent transparent;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-style: normal;
  scroll-behavior: smooth;
  margin: 1%;
  transition: all 0.5s ease-in-out;
  scroll-snap-type: x mandatory;
  margin-bottom: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  scroll-snap-type: x mandatory;
}

.scrollButton {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--fg);
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  border: none;
  transform: translateX(-30%);
}

.profile_card,
.welcome_card,
.profile_card_2,
.profile_stats,
.profile_repos,
.user_bio,
.git_profile_card,
.my_contacts,
.profile_blogs {
  background-color: transparent;
  border-radius: 30px;
  color: var(--fg);
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.user_bio {
  min-height: 100vh;
  box-sizing: border-box;
}

.git_profile_card {
  min-height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.git_profile_card * {
  color: var(--bg);
}

#open_git_button {
  background-color: var(--bg);
  color: var(--fg)
}

#open_git_button * {
  background-color: var(--bg);
  color: var(--fg)
}

.user_bio h3 {
  margin: 30px;
}

.profile_blogs,
.profile_repos {
  background-color: var(--bg);
}

.profile_card a {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.profile_card .button {
  width: 50%;
}

.bio_info {
  font-style: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.bio_info h3 {
  font-size: medium;
  line-height: 2;
  align-content: center;
  text-align: center;
}

.text-box {
  width: 85%;
  padding: 15px;
  font-weight: 700;
  font-size: medium;
  background-color: var(--fg);
  color: var(--bg);
  border-radius: 10px;
  align-content: center;
  text-align: center;
  cursor: pointer;
  font-weight: 1000;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.text-box a {
  font-weight: 1000;
}

a .text-box .i {
  margin-left: 20px;
  font-weight: 1000;
}

.text-box .i {
  margin-left: 20px;
}

.profile_info {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.welcome_card {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 50%;
  padding: 0px;
}

.user_avatar {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 40px;
  z-index: -1000;
}

.contacts_badge_block {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact_button {
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
  font-size: medium;
  background-color: var(--fg);
  color: var(--bg);
  border-radius: 20px;
  width: 50px;
  aspect-ratio: 1/1;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  transition: all 0.3s ease-in;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.contact_button:hover {
  background-color: var(--color1);
  color: var(--fg);
}

.contact_button i {
  transition: transform 0.5s ease;
}

.contact_button:hover i {
  transform: scale(1.2);
}

.button {
  font-size: medium;
  font-weight: 700;
  background-color: var(--fg);
  border-radius: 10px;
  height: 50px;
  width: 270px;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: var(--bg);
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  text-decoration: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background-color: var(--color1);
  width: 350px;
}

.button i {
  margin-right: 10px;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a .button {
  font-size: medium;
  font-weight: 700;
  background-color: var(--fg);
  border-radius: 10px;
  width: 270px;
  height: 50px;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: var(--bg);
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  text-decoration: none;
}

a .button:hover {
  background-color: var(--color1);
  width: 350px;
}

.theme-toggle {
  position: fixed;
  width: 50px;
  aspect-ratio: 1/1;
  bottom: 40px;
  right: 20px;
  z-index: 1000;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  background-color: var(--fg);
  color: var(--bg);
  transition: all 1s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.theme-toggle i {
  color: var(--bg);
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.theme-toggle:hover {
  background-color: var(--fg);
}

.theme-toggle:active {
  background-color: var(--color1);
  transform: scale(0.8);
}

.spacer {
  height: 150px;
  background-color: transparent;
  border: none;
}

.footer {
  margin-bottom: 10px;
  font-size: medium;
  color: var(--fg)
}

.footer p {
  font-size: small;
  color: var(--fg)
}

.main_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  min-height: 100%;
}

h1 {
  font-size: 60px;
  color: var(--fg);
}

h2 {
  font-size: x-large;
  color: var(--fg);
}

h3 {
  font-size: medium;
  color: var(--fg);
}

.app_name {
  z-index: -1;
  align-items: center;
  text-align: center;
  font-size: 15vw;
  margin: 0;
  padding: 0;
  color: var(--fg);
  -webkit-background-clip: text;
}

.content {
  height: 100%;
  width: 100%;
  text-wrap: pretty;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--fg);
}

img {
  width: 90%;
  border-radius: 15px;
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}

.imgs img {
  width: 50%;
  border-radius: 15px;
}

.ui {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.small_spacer {
  height: 50px;
  background-color: transparent;
}

.svg_image {
  width: 300px;
}

.btn-slide, .btn-slide2 {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 200px;
  line-height: 50px;
  padding: 0;
  border-radius: 50px;
  background: var(--fg);
  border: none;
  margin: 10px;
  transition: .5s;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.btn-slide2 {
  border: none;
}

.btn-slide:hover {
  background-color: var(--color1);
}

.btn-slide2:hover {
  background-color: var(--color1);
}

.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
  left: 100%;
  margin-left: -45px;
  background-color: var(--fg);
  color: var(--color1);
}

.btn-slide2:hover span.circle2 {
  color: var(--bg);
}

.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
  left: 40px;
  opacity: 0;
}

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
  opacity: 1;
  left: 40px;
}

.btn-slide span.circle, .btn-slide2 span.circle2 {
  display: block;
  background-color: var(--color1);
  color: var(--fg);
  position: absolute;
  float: left;
  margin: 5px;
  line-height: 42px;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  transition: .5s;
  border-radius: 50%;
}

.btn-slide2 span.circle2 {
  background-color: var(--color1);
}

.btn-slide span.title,
.btn-slide span.title-hover, .btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  position: absolute;
  left: 90px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color:var(--bg);
  transition: .5s;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  color: var(--bg);
  left: 80px;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  left: 80px;
  opacity: 0;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  color: var(--fg);
}

.widget_blocks {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.square_block {
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  margin: 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  cursor: default;
  color: var(--fg);
  user-select: none;
  gap: 0px;
  background-color: transparent;
  transition: all 0.5s ease;
  box-shadow: 0 4px 6px transparent;
}

.square_block .emoji {
  color: var(--fg);
  font-size: 60px;
  font-weight: 1000;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 70%;
  text-align: center;
  align-items: center;
  align-content: center;
  transition: transform 0.5s ease;
}

.square_block:hover {
  background-color: var(--color1);
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.square_block:hover .emoji {
  transform: scale(1.1) rotate(15deg);
}

.square_block h1 {
  color: var(--fg);
  font-size: large;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 30%;
  text-align: center;
  transition: color 0.5s ease;
}

.square_block:hover h1 {
  color: var(--color2);
}

.square_block h2 {
  color: var(--fg);
  font-size: medium;
  font-weight: 1000;
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

.square_block h3 {
  color: var(--fg);
  font-size: medium;
  font-weight: 100;
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
}


@media screen and (min-width: 1000px) {
  img {
    width: 900px;
    height: auto;
    border-radius: 20px;
  }

  .imgs img {
    width: 300px;
  }
  
}

@media screen and (min-width: 1500px) {
  img {
    width: 1300px;
    height: auto;
    border-radius: 20px;
  }

  .imgs img {
    width: 400px;
  }

  .svg_image {
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  .square_block {
    width: 120px;
  }

  .square_block h1 {
    font-size: medium;
  }
  
  .square_block h2 {
    font-size: small;
  }
  
  .square_block h3 {
    font-size: small;
  }

  .widget_blocks {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 600px) {
  .main_block {
    height: 100%;
  }

  .square_block {
    width: 150px;
  }

  .square_block h1 {
    font-size: large;
  }
  
  .square_block h2 {
    font-size: medium;
  }
  
  .square_block h3 {
    font-size: medium;
  }

  .welcome_card {
    height: 100%;
  }

  .bio_content {
    flex-direction: column;
  }

  .username {
    font-size: 50px;
  }
}

@media screen and (min-width: 1500px) {
  .user_avatar {
    width: 300px;
  }

  .username {
    font-size: 70px;
  }

  .square {
    position: relative;
    margin: 0 10px;
    width: 500px; height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

@media screen and (max-width: 2000px) {
  .content {
    width: 50%;
    margin: 0 auto;
  }
  .skill_badge {
    width: 80px;
  }

  .svg_image {
    width: 200px;
    margin: 30px;
  }
}

@media screen and (min-width: 2000px) {
  .square {
    position: relative;
    margin: 0 10px;
    width: 1200px; height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .username { 
      font-size: 180px;
  }
}

@media screen and (max-width: 1500px) {
  .content {
    width: 60%;
    margin: 0px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0px;
  }

  .sub_links_block {
    flex-direction: column;
  }

  .header {
    justify-content: center;
  }

  .user_avatar {
    width: 45%;
  }

  .left_text {
    width: 100%;
  }
}

@media screen and (max-width: 2000px) {
  .bio_content {
    flex-direction: column;
  }

  .left_text {
    margin-left: 0px;
  }

  .user_avatar {
    margin: 5%;
  }
}

@media screen and (max-width: 850px) {
  .username {
    font-size: 55px;
  }

  .left_text {
    margin-left: 0px;
  }

  .bio_content {
    flex-direction: column;
  }

  .header {
    justify-content: center;
  }

  .sub_links_block {
    flex-direction: column;
  }

  .link_badge {
    width: 200px;
  }

  .tabs {
    display: flex;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .content {
    justify-content: center;
    width: 100%;
    margin: 0px;
  }

  .user_avatar {
    width: 70%;
    margin: 5%;
    border-radius: 30%;
  }

  .skill_badge {
    width: 60px;
    margin: 10px;
  }

  .left_text {
    width: 90%;
  }

  #flip {
    font-size: x-large;
  }
}
